<% if notice != '' %>
  <% if notice %>
    <div class="alert alert-info"><%= notice %></div>
  <% end %>
<% end %>

<div class="container">

  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
          <div class="card-header">
          <h3 class="card-title"><%= @article.title %></h4>
          </div>
        <div class="card-block">
          <h6 class="card-text"><%= @markdown.render(@article.body).html_safe %></h6>
        </div>
      </div>
    </div>
  </div>

  <br>
  <%= link_to 'Back', articles_path %>
  <br>
  <br>


  <div class="form-group">
    <%= form_tag :action => 'comment' do %>
    <%= text_field 'comments', 'message',  placeholder: 'Comment ... (160 characters maximum)', maxlength: 160,  size: 75 %>
    <%= submit_tag "Submit" %>
    <% end -%>
  </div>

  <br>
  <ul class="list-group list-group-flush">
    <small class="text-muted"><%= @number_of_comment %> comments</small>
    <% @comment_list.each do | comment | %>
      <li class="list-group-item"> <%= comment.message %></li>
    <% end %>
  </ul>

  <br>
</div>
